@font-face {
  font-family: Roboto;
  src: url(./font/Roboto-Regular.ttf);
  font-size: 16pt;
}

.bold-movie-title {
  font-family: Roboto; 
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.duration-rated {
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  color: #353f4c;
}

.duration-rated > span {
  background-color: rgb(122, 140, 153);
    padding: 6px;
    font-size: 16px;
    color: black;
    font-family: 'Roboto';
    display: inline;
    border-radius: 7px;
}

.rating > .input-group-text{  
  color: black;
  font-family: 'Roboto';
  font-weight: bolder;  
  border-color: #1b2329;
}

.rating > .imdb {
  background-color: #ff9f1c;
}


.rating > .rotten-tomatoes {
  background-color:#ff4040;
}

.details-title {  
    color: #7a8c99;
    font-family: 'Roboto';
}

.search-bar-movies::placeholder {
   color: #7a8c99;
}